.container1{
  background-image: url(../assets/wall.jpg);
  padding-top: 10px;
}
.container {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  background-image: url(../assets/wall.jpg);

}

h1 {
  font-weight: normal;
  text-transform: uppercase;
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
  font-size: 10px;
  margin-left: 10px;
  font-family: cursive;
  background: #fff;
  color: #d51111;
  border-radius: 50%;
}

li span {
  display: block;
}

#content {
  display: none;
  padding: 1rem;
}

.emoji {
  padding: 0 .25rem;
}


.names {
  color: #fff;
  font-size: 25px;
  padding: 5px;
  font-family: cursive;
}

.title{
  color: #ff0076;
  font-family: cursive;
}

.title1{
  color: #27ea48;
  font-family: cursive;
  font-size: 40px;
  width: 100px;
  margin-left: 160px;
  margin-top: -40px;
}

.title_{
  font-family: cursive;
    margin-top: 50px;
    color: yellow;
}

.dest{
  color: #fff900;
  font-family: cursive;
}

.dates {
  margin-top: 20px;
  margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px dotted;
    padding-bottom: 20px;
}

.place {
  margin-top: 20px;
  border-bottom: 2px solid;
    padding-bottom: 20px;
}

.cards {
  padding: 30px;
  padding-bottom: 50px;
  border-radius: 90px;
  margin-top: 30px;
}

div#countdown {
  margin-left: -40px;
  font-weight: bold;
  color: #fff900;
}

.person {
  margin-top: 30px;
  border-top: 2px dotted;
  border-bottom: 2px dotted;
}

.typing-demo {
  width: 19ch;
  animation: typing 2s steps(22), blink 0.5s;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

.border {
  border: 2px dotted;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}