<div class="preload">
  <div class="grid">
  <div class="column-xs-12 column-md-7">
    <header>
      <div class="container">
        <div class="grid">
          <div class="column-xs-12">
          </div>
        </div>
      </div>
    </header>
  </div>
  <div class="column-xs-12 column-md-5">
    <main>
      <div class="container">
        <div class="grid center">
          <div class="column-xs-12">
            <h2 class="subheading">The wedding of</h2>
            <h1 class="main-heading">Bhavani &amp; Vijay</h1>
            <p>Sivarama Kalyanamandapam </p>
            <p>Wednesday, Jan 6, 2021</p>
            <p>KTR Road, Palasa Kasibugga</p>
            <p>Andhra Pradesh, 532222</p>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
</div>