<div class="container1">
  <div class="container">
    <div id="countdown">
      <ul>
        <li class='time'><span id="days"></span>Days</li>
        <li  class='time'><span id="hours"></span>Hours</li>
        <li  class='time'><span id="minutes"></span>Minutes</li>
        <li  class='time'><span id="seconds"></span>Seconds</li>
      </ul>
    </div>
    <div class="cards">
      <div class='title1'>Save the date</div>
      <div class='title_'>we gracefully invite you to honour us with your presence and blessings on the auspious occasion of the wedding anniversary</div>

      <div class="person">
        <div class='names'>Vijay Krishna Bammidi</div>
        <div class='names'>Weds</div>
        <div class='names'>Bhavani Yavvari</div>
      </div>


      <div class="dates">
        <div class='title'>Wednesday</div>
        <div class='title'>January 06 2021</div>
        <div class='title'>9.53PM</div>
      </div>

      <div class='place'>
        <div class='dest'>Siva Rama Kalyana Mandapam</div>
        <div class='dest'>Palasa</div>
      </div>

    </div>
  </div>

  <div class="center_box">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id='title'></div>
  </div>

</div>