

@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

#days {
  font-size: 30px;
  color: #db4844;
  overflow: hidden;
}
#hours {
  font-size: 25px;
  color: #f07c22;
  overflow: hidden;
}
#minutes {
  font-size: 20px;
  color: #f6da74;
}
#seconds {
  font-size: 15px;
  color: #abcd58;
}
li {
  list-style: none;
  line-height: 30px;
  display: flex;
  flex-flow: column-reverse;
  color: #fff;
  font-weight: bold;
  font-family: "Pacifico", cursive;
  overflow: hidden;
}
#counting-down{
  overflow: hidden;
}
#corben-pic{
  background-image: url(../assets/vijay1.jpg);
  height: 336px;
  width: 250px;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px -41px;
}


#daniela-pic{
  background-image: url(../assets/bhav1.jpg);
  height: 250px;
  width: 252px;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 1px 0px;
}

.gal-1 {
  background-image: url(../assets/wow6.jpeg);
  height: 330px;
  width: 100%;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

.gal-2 {
  background-image: url(../assets/wow1.jpg);
  height: 330px;
  width: 180px;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
}
.gal-3 {
  background-image: url(../assets/wow3.jpeg);
  height: 330px;
  width: 100%;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
}
.gal-4 {
  background-image: url(../assets/wow4.jpeg);
  height: 330px;
  width: 100%;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
}
.gal-5 {
  background-image: url(../assets/wow2.jpeg);
  height: 330px;
  width: 100%;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
}
.gal-6 {
  background-image: url(../assets/wow7.jpeg);
  height: 330px;
  width: 100%;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
}
.gal-7 {
  background-image: url(../assets/wow8.jpeg);
  height: 330px;
  width: 100%;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 1px -80px;
}
.gal-11 {
  background-image: url(../assets/kal1.jpg);
  height: 134px;
  width: 259px;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

.gal-12 {
  background-image: url(../assets/kal2.jpeg);
  height: 236px;
  width: 259px;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

.place1, .place2 {
  background: #fff;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  color: #fff;
}

.center {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 90px;
  left: 90px;
}

.dot-1 {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  top: 95px;
  left: 95px;
  background: orangered;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
          animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-2 {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  top: 80px;
  left: 80px;
  background: orangered;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
          animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-3 {
  position: absolute;
  z-index: 1;
  width: 90px;
  height: 90px;
  top: 65px;
  left: 65px;
  background: orangered;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
          animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

@-webkit-keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes jump-jump-2 {
  0%, 40% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes jump-jump-2 {
  0%, 40% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes jump-jump-3 {
  0%, 10% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes jump-jump-3 {
  0%, 10% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
