<app-swing></app-swing>

<div class="frame" *ngIf="loader">
  <div class="center">
     <div class="dot-1"></div>
     <div class="dot-2"></div>
     <div class="dot-3"></div>
  </div>
</div>


<body *ngIf="!loader">
  <!-- Header -->
  <div id="header" class="slide">
    <div class="overlay"></div>
    <div class="text-vertical-center text-white">
      <div class="container">
        <div class="row">
          <div class="col-sm-offset-4 col-sm-4">
            <div id="save-the-date" class="fancy-text">
              <div id="save">
                Save
              </div>
              <div id="the-date">
                The Date
              </div>
              <div id="date">
                - 06 . 01 . 2021
              </div>
              <div id="date">
                - 9.53PM
              </div>
              <div id="date">
                Wednesday
              </div>
            </div>
            <h5>"Destiny brought us together and now love will seal our bond... forever"</h5>
            <h5>Fantasies do come true...</h5>
            <div>
              <div class="banner">
                <h4>WE ARE GETTING MARRIED!</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Who -->
  <div id="about-us">

    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-5 boy">
          <div class="text-center">
            <h2>Vijay Krishna</h2>
          </div>
          <div class="bio-pic">
            <img id="corben-pic" alt class="img-responsive gal-1" />
          </div>
          <div class="blurb">
            <p>I like to read books and travel. Combination of mountains and sunrise exicited me and a go to destination for me. I like to watch comedy and sci-fi movies. I am a big time Megastar fan. I am an early bird.</p>
          </div>
        </div>
        <div class="col-md-5 girl">
          <div class="text-center">
            <h2>Bhavani</h2>
          </div>
          <div class="bio-pic">
            <img id="daniela-pic" alt class="img-responsive gal-1" />
          </div>
          <div class="blurb">
            <p>I like watching movies and travel. Combination of beaches and sunset exicited me and a go to destination for me. I like to watch horror and thriller movies. I am a big time Stylish Star fan. I am a night owl.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- When -->
  <div id="when">
    <div class="overlay"></div>
    <div class="text-vertical-center text-white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="counting-down" class="fancy-text">
              <div id="counting">Counting</div>
              <div id="down">Down</div>
            </div>
            <div class="container">
              <div cass="row">
                <div class="col-md-offset-3 col-md-6">
                  <div id="countdown">
                    <div class="container1">
                      <div class="container">
                        <div id="countdown">
                          <ul>
                            <li class='time cont_porct_1'><span id="days">{{days}}</span>Days</li>
                            <li  class='time cont_porct_2'><span id="hours">{{hours}}</span>Hours</li>
                            <li  class='time cont_porct_3'><span id="minutes">{{minutes}}</span>Minutes</li>
                            <li  class='time cont_porct_4'><span id="seconds">{{seconds}}</span>Seconds</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Where -->
  <div id="where">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 text-center">
          <h1>Where</h1>
        </div>
      </div>
      <div class="row place1">
        <div class="col-sm-4 text-center">
          <h3>Lunch at Bride's Place</h3>
          <h3>02-01-2021 12.00PM</h3>
          <h3>Gowri kalyana Mandapam</h3>
          <h3>Railway New Colony,</h3>
          <h5>VSKP, Andhra Pradesh</h5>
          <div id="where-pic">
            <img alt class="img-responsive gal-11"/>
          </div>
        </div>
      </div>
      <div class="row place2">
        <div class="col-sm-4 text-center">
          <h2>Lunch at Groom's Place</h2>
          <h2>06-01-2021 12.00PM</h2>
          <h3>Siva Rama Kalyana Mandapam</h3>
          <h3>Kasibugga, Palasa</h3>
          <h3>Andhra Pradesh</h3>
          <div id="where-pic">
            <img alt class="img-responsive gal-12"/>
          </div>
        </div>
      </div>

      <div class="row place2 place3">
        <div class="overlay"></div>
        <div class="col-sm-4 text-center">
          <h2>Muhurtham</h2>
          <h2>09.53PM</h2>
          <h2>06-01-2021</h2>
          <h3>Siva Rama Kalyana Mandapam</h3>
          <h4>Kasibugga, Palasa</h4>
          <h5>Andhra Pradesh</h5>
        </div>
      </div>
    </div>
  </div>


  <!-- Gallery -->
  <div id="gallery">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-1 col-lg-10 text-center">
          <h1>Gallery</h1>
          <div class="row">
            <div class="col-sm-6">
              <div class="gallery-pic">
                <img alt class="img-responsive gal-1" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="gallery-pic">
                <img alt  class="img-responsive gal-2" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="gallery-pic">
                <img alt class="img-responsive gal-3" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="gallery-pic">
                <img alt class="img-responsive gal-4" />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="gallery-pic">
                <img alt class="img-responsive gal-5" />
              </div>
            </div>
            
            <div class="col-sm-6">
              <div class="gallery-pic">
                <img alt class="img-responsive gal-6" />
              </div>
            </div>

            
            <div class="col-sm-6">
              <div class="gallery-pic">
                <img alt class="img-responsive gal-7" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Thank You -->
  <div id="thank-you-div" class="slide">
    <div class="overlay"></div>
    <div class="container text-vertical-center">
      <div class="row text-center text-white">
        <div class="col-md-offset-3 col-md-6">
          <div id="save-the-date" class="fancy-text">
            <div id="thank-you">
              Thank You!
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</body>